

.page {
    padding: 0;
    margin: 0;
  }

  .banner {
    width: 100%;
    background-position: 100% 100%;
    padding: 200px 0;
    background-image: url('/images/bannner.jfif'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    text-align: center;
  }
  
  .bannerContent {
    z-index: 1;
  }
  .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 0; 
  }
  
  .banner h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
  }
  
  .banner p {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  .shopNowBtn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff6f61;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .shopNowBtn:hover {
    background-color: #e64a43;
  }
  