.navbarWrapper {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0 16px;
  }
  
  .navbarWrapperData {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
  }
  .logo {
    max-width: 165px;
    height: 120px;
  }
  .logoWrapper {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
    text-align: center;
  }
  .navUl {
    text-align: left;
    gap: 16px;
    list-style: none;
    background: #080e1bfa;
    top: 0;
    width: 100%;
    margin: 0;
    z-index: 1;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding-top: 50px !important;
  }
  .liList {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.2s;
  }
  

  .navActions {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: flex-end;
  }
  
  .actionButton {
    background-color: transparent;
    border: 0;
  }
  .searchBarData i{
    padding-left: 10px;
  }
  
  .logoutButton {
    border: 0;
    background-color: transparent !important;
  }

  .searchBar {
    width: auto;
    border-radius: 4px;
    width: 100%;
    padding: 5px 5px 5px 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
 .searchBar:focus-visible{
  outline: none;
 }
  .closeIcon{
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    font-size: 24px;
    transition: color 0.2s;
    z-index: 1;
  }
  .navUlWrapper {
    position: fixed;
    top: 0;
    left: -100%;
    width: 33%;
    height: 100%;
    background: #080e1bfa;
    color: #fff;
    z-index: 10;
    transition: left 0.3s ease;
    display: flex;
    justify-content: center;
   
    .navUl {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: left;
  
      .liList {
        padding: 12px 16px;
        font-size: 1.2rem;
        cursor: pointer;
        transition: background-color 0.3s;
      }
    }
  
    .closeIcon {
      position: absolute;
      top: 16px;
      right: 16px;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
  
  .openMenu {
    left: 0;
  }
  
  .closeMenu {
    left: -100%;
  }
  .toggleIcon{
    cursor: pointer;
    width: 25%;
  }
  .cartBadge {
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 0.8rem;
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 0;
  }
  
  .actionButton {
    position: relative;
    display: flex;
    align-items: center;
    height: 35px;
    width: 35px;
  }
  
  .searchBarData i {
    padding-left: 10px;
  }
  .btn{
    padding: 5px 10px;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: #263248;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    animation: page_bounceIn__d4_jB 2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  @media (max-width: 768px) {
    .logoWrapper {
      font-size: 1.2rem;
    }
    
    .navActions {
      width: 100%;
      justify-content: space-between;
    }
  
    .searchBar {
      width: 60%;
    }
  }
  